@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-custom {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

.color {
	height: 800px;
	width: 800px;
	background-image: radial-gradient(
		closest-side,
		rgba(9, 217, 158, 0.76) 0%,
		#132d46
	);
	position: absolute;
	top: -499px;
	left: -200px;
	z-index: ;
}

.color-2 {
	height: 800px;
	width: 800px;
	background-image: radial-gradient(
		closest-side,
		rgba(9, 217, 158, 0.76) 0%,
		#132d46
	);
	position: absolute;
	top: 300px;
	right: -500px;
	z-index: ;
}

/* background: rgb(9,217,158);
background: radial-gradient(circle, rgba(9,217,158,1) 0%, rgba(9,217,158,0) 100%); */
