.aboutUs-blurredDot {
	height: 800px;
	width: 800px;
	background-image: radial-gradient(
		closest-side,
		rgba(9, 217, 158, 0.76) 0%,
		transparent
	);
	position: absolute;
	bottom: -400px;
	left: -700px;
}
