.sign {
	/* From https://css.glass */

	background: rgba(24, 28, 37, 0.43);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(15.4px);
	-webkit-backdrop-filter: blur(15.4px);
	border: 1px solid rgba(24, 28, 37, 0.53);
}
