/** Hamburguer Button*/

.btn-burger {
	width: 1.7rem;
	height: 0.15rem;
	background-color: #0beaab;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
	margin-bottom: 10px;
}

.btn-burger::before,
.btn-burger::after {
	content: "";
	position: absolute;
	width: 1.7rem;
	height: 0.15rem;
	background-color: #0beaab;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}

.btn-burger::before {
	transform: translateY(-8px);
}

.btn-burger::after {
	transform: translateY(8px);
}

/*Animtation uf burger*/

.btn-burger.open {
	transform: translateX(-50px);
	box-shadow: none;
}

.btn-burger.open::after {
	transform: rotate(45deg) translate(35px, -35px);
}

.btn-burger.open::before {
	transform: rotate(-45deg) translate(35px, 35px);
}

.responsive__nav__elements {
	transform: translateX(100%);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	z-index: 100;
}

.responsive__nav__elements.open {
	opacity: 1;
	transform: translateX(0);
}

.arrow_icon {
	transition: all 0.3s ease-in-out;
}

.arrow_icon.open {
	transform: rotate(180deg);
}
