.video-container video {
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 60%,
		rgba(0, 0, 0, 0) 100%
	);
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 60%,
		rgba(0, 0, 0, 0) 100%
	);
}

.blured-dot {
	height: 800px;
	width: 800px;
	background-image: radial-gradient(
		closest-side,
		rgba(9, 217, 158, 0.76) 0%,
		transparent
	);
	position: absolute;
	bottom: -300px;
	right: -700px;
}
