.header {
	background: rgb(19, 45, 70);
	background: -moz-linear-gradient(
		0deg,
		rgba(19, 45, 70, 0) 0%,
		rgba(24, 28, 37, 1) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		rgba(19, 45, 70, 0) 0%,
		rgba(24, 28, 37, 1) 100%
	);
	background: linear-gradient(
		0deg,
		rgba(19, 45, 70, 0) 0%,
		rgba(24, 28, 37, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#132d46",endColorstr="#181c25",GradientType=1);
}
